AWS_REGION=ap-southeast-2
AGENTCORE_RUNTIME_ARN=arn:aws:bedrock-agentcore:ap-southeast-2:885418708466:runtime/agentP_MyAgent-dZmbmm3KDS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

SESSION_TTL_SECONDS=3600

